
    body {
        background: #f9f9f9;
        animation: mymove 30s infinite;
        align-items: center;
        flex-direction: unset;
        text-align: center;
    }

    @keyframes mymove {
        50% {
            background-color: rgb(25, 25, 44);
        }
    }

    main {
        background: url('stars.png');
       
        background-position: center;
        
    }

    header {
       align-content: center;
         font-family: cursive;
    }
    img {
        margin: 40px 0px 0px 0px;
        border: 2px solid whitesmoke;
        border-radius: 500px;
    }

    #title1 {
        color: rgba(248, 133, 148, 0.322);
        font-family: cursive;
        font-weight: bolder;
        font-size: 100px;
        line-height: 1;
        text-shadow: -1px 0 rgb(200, 200, 200), 0 1px rgb(200, 200, 200), 1px 0 rgb(200, 200, 200), 0 -1px rgb(200, 200, 200);
        margin:0px;
    }

    #title2 {
        color: gray;
         font-family: cursive;
        font-weight: lighter;
        font-size: 35px;
        font-stretch: extra-expanded;
        text-shadow: -0 .5px 0 rgb(200, 200, 200), 0 .5px rgb(200, 200, 200), .5px 0 rgb(200, 200, 200), 0 -.5px rgb(200, 200, 200);
        margin:0px;
    }
    .profile
    {
        font-family: cursive; 
    }

    #icon{
        margin: 0px 0px 0px 0px;
        border: none;
      padding: 0px;
        height: 30px;;
        
   
    }

    #statement {
        color: darkgray;
         font-family: cursive;
        font-size: 20px;
        text-shadow: -0 .5px rgb(25, 25, 44), 0 .5px rgb(25, 25, 44), 0 .5px 0 rgb(25, 25, 44), 0 -.5px rgb(25, 25, 44); 
    }
    #profile{ 
        color: darkgray;
        font-size: 20px;
        text-shadow: -0 .5px rgb(25, 25, 44), 0 .5px rgb(25, 25, 44), 0 .5px 0 rgb(25, 25, 44), 0 -.5px rgb(25, 25, 44); 
    }
#email{
     font-family: cursive;
     font-size:30px;
    }

    #slogan {
        color: rgb(25, 25, 44);
         font-family: cursive;
        text-shadow: 0.5px 0 rgb(200, 200, 200), 0 0.5px rgb(200, 200, 200), 0.5px 0 rgb(200, 200, 200), 0 -0.5px rgb(200, 200, 200);
        font-size: 30px;
        font-weight: lighter;
        font-style: italic;  
    }

    footer {
        background-image: url('stars.png');
        color: grey;
        font-family: sans-serif;
        font-size: 14px;
        text-shadow: -0 .5px 0 silver, 0 .5px silver, .5px 0 silver, 0 -.5px silver;
        text-align: center;
        padding: 20px;
    }

    a {
        color: rgb(67, 140, 223);
        text-shadow: -0 .5px 0 rgb(100, 100, 100), 0 .5px rgb(100, 100, 100), .5px 0 rgb(100, 100, 100), 0 -.5px rgb(100, 100, 100);
        text-decoration: none;
    }

    @media screen and  (max-width: 750px) {
            
    
        #statement {
            
            font-family: sans-serif;
            font-size: 25px;
           
        }
        #email {
            font-family: sans-serif;
        }
        #slogan {
            color: rgba(248, 133, 148, 0.322);
            font-family: cursive;
                 
        }
    
        
           
            
       
            
