
    body {
        background:url('background2.png');
        background-size: cover;
        font-family: 'Roboto', sans-serif;
        color: white; 
        align-items:left ;
        flex-direction: row;
        text-align: left;
    }
    #writing{
        text-align: left;
        float: left;
        margin-left: 50px;
        margin-right: 0px;
        padding-right: 30px ;
        padding-left: 30px;
        padding-top: 20px;
        /*background: #3b3b3b;*/

    }


    h1 {
        font-weight: lighter ;
        font-size: 100px;
        line-height: 1;
        text-align: left;
        margin-bottom: 0px;
        
    }

    h4 {        
        font-weight: lighter;
        font-size: 25px;
        font-stretch: semi-expanded ;
        margin-top: 0px;
        padding-left: 8px;
        margin-bottom: -30px;
        padding-bottom: 10px;
    }

    p{
        padding-left: 8px; 
        font-family: 'Roboto' sans-serif;
        font-size: 24px;
        font-weight: lighter;
        line-height: 1.5;
    }
    .links{
        margin-bottom: 50px;
    }
    .social {
        color: rgb(75, 249, 255);
        font-size: 23px; 
        padding-left: 2px; 
        margin-top:0px; 
        padding-top:0px;
        margin-bottom: 30px;
        font-weight: 300;
        font-stretch: extra-expanded;     
    }

 
    #me{
        margin-left: 0px;
    }

    /*#fixed-bottom{
       
        color: grey;
        font-size: 12px;
        text-align: center;
        padding-left: 30px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }*/
    #email{
        color: rgb(75, 249, 255);
        font-size: 23px; 
        padding-left: 2px; 
        font-weight: 300;
        font-stretch: extra-expanded;  
    }
       
    

    @media screen and  (max-width: 750px) {
        #writing{
            text-align: left;
            float: left;
            margin-left: 0px;
            margin-right: 0px;
            padding-right: 30px ;
            padding-left: 10px;
            padding-top: 20px;
        }
        h1{
            font-size: 50px;
        }    
    h4{
font-size: 16px;
margin-bottom: -20px;
    }
        p {
            
            font-size: 16px; 
        }
        .social{
            font-size: 16px;
            
        margin-bottom: -20px;
        }
        #introduction1{
            margin-top: -20px;
            padding-top: 0px;
        }
        
      

    
        
           
            
       
            
