<style media="screen">body {
    background: url(email-logo.jpg);
    background-size: 2000px 700px;
}

h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    line-height: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.all {
    float: left;
    padding-left: 100px;
    Padding-top: 20px;
    color: black;

}

.radio_style {
    color: grey;
}

.checkbox_styles {
    color: grey;
}

.container {
    width: 400px;
    height: 100px;
    text-align: center;
    color: maroon;
    float: right;
    position: relative;
    right: 400px;
    top: 200px;
}

.Thankyou-card {
    background: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    box-shadow: 3px 3px 5px 6px rgba(205, 205, 205, 0.9);
}

h5 {
    font-weight: bold;
    font-family: 'Parisienne', cursive;
    font-size: 50px;
}

.label {
    color: rgb(10, 10, 255)
}

.form.value {
    color: rgb(20, 20, 20)
}

.navbar {
    position: fixed;
    top: 0;
    font-weight: bold;
}

.navbar-item {
    color: ivory;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

footer {
    color: grey;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    font-style: normal;
}

</style>